// Color
$primary:#147B74;
$primary-light:#3CB4AA;
$dark-gray:#7A7A7A;
$light-gray:#FAFAFA;
$gray-e:#eee;
$gray-d:#ddd;
$gray-f1:#f1f1f1;
$gray-f3:#f3f3f3;
$gray-f4:#F4F4F4;
$gray-f7:#F7F7F7;
$text-color:#8D8D8E;

// Layout
$main-container-mw:1170px;
$project-container-mw:760px;
$gutter: 1.438rem;
$block-gutter: 3.5rem;
$border-radius:0.6rem;

// Fonts - Headings
$font-family-sans-serif:'Commissioner', sans-serif;
$h1-font-size:28px;
$h2-font-size:20px;
$h3-font-size:18px;

// Fonts - Custom
$counter:35px;
$price:33px;


// Custom breakpoint map
$grid-breakpoints: (
    xs: 376px,
    sm: 475px,
    md: 650px,
    minbp2:768px,
    lg: 992px,
    xl: 1200px,
    minbp1:1300px,
    xxl: 1441px,
    xxxl:1923px
);